<footer>
  <ul id="credits" >
    {% if credits %}
      {{ credits }}
    {% endif %}
    <li>
      <a href="https://fonts.google.com/specimen/Roboto">Roboto font family</a> by <a href="http://christianrobertson.com/" class="person">Christian Robertson</a> and Google under <a href="https://github.com/google/roboto/blob/master/LICENSE">Apache 2.0</a>
    </li>

    <li>
      <a href="http://tholman.com/github-corners/">Banner</a> made by <a href="http://tholman.com/" class="person">Tim Holman</a> under <a href="https://github.com/tholman/github-corners/blob/master/license.md">MIT</a>
  </ul>
</footer>
