// Ripped colors from https://gamejolt.com/

$white: #fff;
$darkest: #111111;
$darker: #212121;
$dark: #292929;
$gray: #363636;
$gray-subtle: #444444;
$light: #7e7e7e;
$lighter: #d1d1d1;
$lightest: #f3f3f3;